@using MockProject.WebApp.ModelAPI

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var user = (AdminModel)ViewBag.User;
}
<style>
    .staff__joborder_des {
        height: 56px;
        overflow: hidden;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
</style>
@*<h1>DashBoard</h1>
<h2>Welcome @user.FullName</h2>*@
<link rel="stylesheet" href="/assets/vendors/niceselect/css/nice-select.css" />
<link rel="stylesheet" href="/assets/vendors/gijgo/gijgo.min.css" />
<link rel="stylesheet" href="/assets/vendors/tagsinput/tagsinput.css" />
<link rel="stylesheet" href="/assets/vendors/datepicker/date-picker.css" />
<link rel="stylesheet" href="/assets/vendors/vectormap-home/vectormap-2.0.2.css" />
<link rel="stylesheet" href="/assets/vendors/scroll/scrollable.css" />
<link rel="stylesheet" href="/assets/vendors/morris/morris.css">
<div class="container-fluid p-0 ">

    <div class="row">
        <div class="col-12">
            <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                <div class="page_title_left d-flex align-items-center">
                    <h3 class="f_s_25 f_w_700 dark_text mr_30">Dashboard</h3>
                    <ol class="breadcrumb page_bradcam mb-0">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                        <li class="breadcrumb-item active">Analytic</li>
                    </ol>
                </div>
                <div class="page_title_right">
                    <div class="page_date_button d-flex align-items-center">
                        <img src="/assets/image/admin_base/icon/calender_icon.svg" alt="">
                        <span class="datetime"><!--render by JS--></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-xl-4">
            <div class="white_card card_height_100 mb_30">
                <div class="white_card_header">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="main-title" style="display:flex; justify-content: space-between">
                                <h3 class="m-0">Top Staff</h3>
                                <a href="@Url.Action("Index","Sale")"> Go to page </a>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="white_card_body " id="top__staff_list">
                    <!--render js here-->
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="white_card card_height_100 mb_30">
                <div class="white_card_header">
                    <div class="box_header m-0">
                        <div class="main-title">
                            <h3 class="m-0">Job Order done percent</h3>
                        </div>
                    </div>
                </div>
                <div class="white_card_body">
                    <div id="chart-currently"></div>
                    <div class="monthly_plan_wraper">
                        <div class="single_plan d-flex align-items-center justify-content-between">
                            <div class="plan_left d-flex align-items-center">
                                <div class="thumb">
                                    <img src="/assets/image/admin_base/icon2/7.svg" alt="">
                                </div>
                                <div>
                                    <h5>Most Sales</h5>
                                    <span>Authors with the best sales</span>
                                </div>
                            </div>
                        </div>
                        <div class="single_plan d-flex align-items-center justify-content-between">
                            <div class="plan_left d-flex align-items-center">
                                <div class="thumb">
                                    <img src="/assets/image/admin_base/icon2/6.svg" alt="">
                                </div>
                                <div>
                                    <h5>Total sales lead</h5>
                                    <span>This chart show percent of done Job Order</span>
                                </div>
                            </div>
                        </div>
                        <div class="single_plan d-flex align-items-center justify-content-between">
                            <div class="plan_left d-flex align-items-center">
                                <div class="thumb">
                                    <img src="/assets/image/admin_base/icon2/5.svg" alt="">
                                </div>
                                <div>
                                    <h5>Average Bestseller</h5>
                                    <span>Pitstop Email Marketing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="white_card card_height_100 mb_30 overflow_hidden" style="position: relative;">
                <div class="white_card_header">
                    <div class="box_header m-0">
                        <div class="main-title" style="display:flex; justify-content: space-between;width:100%;">
                            <h3 class="m-0">Job Order Details</h3>
                            <a href="@Url.Action("","JobOrder")"> Go to page </a>
                        </div>

                    </div>
                </div>
                <div class="white_card_body pb-0">
                    <div class="Sales_Details_plan">
                        <div class="row" id="job__order_detail_dash">
                            <!--render by js-->
                        </div>
                    </div>
                </div>
                <style>
                    .JODetail__foot {
                        position: absolute;
                        bottom: -3px;
                        left: 50%;
                        width: 140%;
                        background: #eae0ff;
                        height: 40%;
                        transform: translateX(-50%);
                        border: 3px solid #9767fd;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    @@media only screen and (max-width: 780px){
	                    .JODetail__foot{
                            display: none;
                        }
                    }
                </style>
                <div class="JODetail__foot">
                    <h3 id="total__joborder_number"><!--render by JS--></h3>
                </div>
                <div class="chart_wrap overflow_hidden">
                    @*<div id="chart4"></div>*@
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="white_card card_height_100 mb_30">
                <div class="white_card_header">
                    <div class="box_header m-0">
                        <div class="main-title" style="display:flex; justify-content: space-between; width:100%;">
                            <h3 class="m-0">Recent Staff Note</h3>
                            <a href="@Url.Action("","StaffNote")"> Go to page </a>
                        </div>
                    </div>
                </div>
                <div class="white_card_body">
                    <div class="Activity_timeline">
                        <ul id="staff__note_list">
                            <!--render by JS-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="white_card card_height_100 mb_30">
                <div class="white_card_header">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="main-title" style="display:flex; justify-content: space-between">
                                <h3 class="m-0">Top Customer</h3>
                                <a href="@Url.Action("","Customer")"> Go to page </a>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="white_card_body " id="top__staff_list2">
                    <!--render js here-->
                </div>
            </div>
        </div>
        <div class="col-xl-4 ">
            <div class="white_card card_height_100 mb_30 user_crm_wrapper">
                <div class="row" id="dashboard__quantity_list">
                    <!--render by Js-->
                </div>
                <div class="crm_reports_bnner">
                    <div class="row justify-content-end ">
                        <div class="col-lg-6">
                            <h4>Create CRM Reports</h4>
                            <p>
                                Outlines keep you and honest
                                indulging honest.
                            </p>
                            <a href="#">Read More <i class="fas fa-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 ">
            <div class="white_card mb_30 card_height_100">
                <div class="white_card_header">
                    <div class="row align-items-center justify-content-between flex-wrap">
                        <div class="col-lg-4">
                            <div class="main-title">
                                <h3 class="m-0">Sale details</h3>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="white_card_body">
                    <div id="management_bar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/assets/vendors/chartlist/Chart.min.js"></script>
    @*<script src="/assets/vendors/datatable/js/buttons.flash.min.js"></script>*@
    @*<script src="/assets/vendors/datatable/js/jszip.min.js"></script>*@
    @*<script src="/assets/vendors/datatable/js/pdfmake.min.js"></script>*@
    @*<script src="/assets/vendors/datatable/js/vfs_fonts.js"></script>*@
    @*<script src="/assets/vendors/datatable/js/buttons.html5.min.js"></script>*@
    @*<script src="/assets/vendors/datatable/js/buttons.print.min.js"></script>*@
    @*<script src="/assets/vendors/datepicker/datepicker.js"></script>*@
    @*<script src="/assets/vendors/datepicker/datepicker.en.js"></script>*@
    @*<script src="/assets/vendors/datepicker/datepicker.custom.js"></script>*@
    @*<script src="/assets/vendors/tagsinput/tagsinput.js"></script>*@
    @*<script src="/assets/vendors/scroll/perfect-scrollbar.min.js"></script>*@
    @*<script src="/assets/vendors/scroll/scrollable-custom.js"></script>*@
    @*<script src="/assets/vendors/vectormap-home/vectormap-2.0.2.min.js"></script>*@
    @*<script src="/assets/vendors/vectormap-home/vectormap-world-mill-en.js"></script>*@
    <script src="/assets/vendors/apex_chart/apex-chart2.js"></script>
    @*<script src="/assets/vendors/apex_chart/apex_dashboard.js"></script>*@

    @*<script src="/assets/vendors/chart_am/core.js"></script>*@
    @*<script src="/assets/vendors/chart_am/charts.js"></script>*@
    @*<script src="/assets/vendors/chart_am/animated.js"></script>*@
    @*<script src="/assets/vendors/chart_am/kelly.js"></script>*@
    @*<script src="/assets/vendors/chart_am/chart-custom.js"></script>*@
    <script>
        // set chart value
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script>

        getDataWithToken(`${BASE_API}api/Admin/getinfo`, USERTOKEN)
            .then(res => {
                if (res.data.role_Name != 'Admin') {
                    window.location = '@Url.Action("","StaffNote")'
                }
            })
            .catch(err =>{
                notify('error', 'get user login have some problem!!')
            })

        // render top staff list by array
        function renderTopStaff(arr) {
            let html = arr.map((item, index) => {
                // get medal of staff
                let medal = '<a href="#" style="font-size: 20px; opacity: 0;" class="action_btn mr_10"> <i class="fa-solid fa-medal"></i> </a>'
                if (index == 0) medal = `<a href="#" style="font-size: 20px; color: #fdc822; " class="action_btn mr_10"> <i class="fa-solid fa-medal"></i> </a>`
                if (index == 1) medal = `<a href="#" style="font-size: 20px; color: #8e8e90; " class="action_btn mr_10"> <i class="fa-solid fa-medal"></i> </a>`
                if (index == 2) medal = `<a href="#" style="font-size: 20px; color: #ec8e46; " class="action_btn mr_10"> <i class="fa-solid fa-medal"></i> </a>`
                if (index >= 5) return '';
                return `
                                                                <div class="single_user_pil d-flex align-items-center justify-content-between">
                                                                    <div class="user_pils_thumb d-flex align-items-center">
                                                                        <div class="thumb_34 mr_15 mt-0"><img class="img-fluid radius_50" src="/assets/image/profileImg/${item.avatar}" alt=""></div>
                                                                        <span class="f_s_14 f_w_400 text_color_11">${item.fullName}</span>
                                                                    </div>
                                                                    <div class="user_info">
                                                                        Point: ${item.totalPoint}
                                                                    </div>
                                                                    <div class="action_btns d-flex">
                                                                        ${medal}
                                                                    </div>
                                                                </div>
                                                                 `
            }).join('')
            $('#top__staff_list').html(html)
        }

        function renderStaff() {
            const startOfMonth = moment().startOf('month').format('YYYY-MM-DD hh:mm');
            const endOfMonth = moment().endOf('month').format('YYYY-MM-DD hh:mm');
            console.log(startOfMonth)

            getDataWithToken(`${BASE_API}api/Admin/AllStaffSale?start=&end=`, USERTOKEN)
                .then(response => {
                    console.log(response)
                    renderTopStaff(response.data)
                })
                .catch(error => {
                    notify('error', 'get staff have some problem!!')
                })
        }

        renderStaff()

        // render top cus list by array
        function renderTopCustomer(arr) {
            let html = arr.sort((a, b) => b.totalPrice - a.totalPrice).map((item, index) => {
                // get medal of staff
                let medal = '<a href="#" style="font-size: 20px; opacity: 0;" class="action_btn mr_10"> <i class="fa-solid fa-medal"></i> </a>'
                if (index == 0) medal = `<a href="#" style="font-size: 20px; color: #fdc822; " class="action_btn mr_10"> <i class="fa-solid fa-medal"></i> </a>`
                if (index == 1) medal = `<a href="#" style="font-size: 20px; color: #8e8e90; " class="action_btn mr_10"> <i class="fa-solid fa-medal"></i> </a>`
                if (index == 2) medal = `<a href="#" style="font-size: 20px; color: #ec8e46; " class="action_btn mr_10"> <i class="fa-solid fa-medal"></i> </a>`
                if (index >= 5) return '';
                return `
                                                                <div class="single_user_pil d-flex align-items-center justify-content-between">
                                                                    <div class="user_pils_thumb d-flex align-items-center">
                                                                        <div class="thumb_34 mr_15 mt-0"><img class="img-fluid radius_50" src="/assets/image/profileImg/${item.avatar}" alt=""></div>
                                                                        <span class="f_s_14 f_w_400 text_color_11">${item.name || item.email}</span>
                                                                    </div>
                                                                    <div class="user_info">
                                                                    </div>
                                                                    <div class="action_btns d-flex">
                                                                             ${item.totalPrice}$
                                                                    </div>
                                                                </div>
                                                                 `
            }).join('')
            $('#top__staff_list2').html(html)
        }

        function renderCustomerFetch() {
            getData(`${BASE_API}api/Customer/getall`)
                .then(response => {
                    console.log(response)
                    renderTopCustomer(response.data)
                })
                .catch(error => {
                    notify('error', 'get cunstomer have some problem!!')
                })
        }

        renderCustomerFetch()
        // render dashboard
        function renderJODetail(object) {
            let html = `
                                                            <div class="col-lg-6">
                                                                        <div class="single_plan d-flex align-items-center justify-content-between">
                                                                            <div class="plan_left d-flex align-items-center">
                                                                                <div class="thumb">
                                                                                    <img src="/assets/image/admin_base/icon2/3.svg" alt="">
                                                                                </div>
                                                                                <div>
                                                                                    <h5>${object.countJobOrderDone}</h5>
                                                                                    <span>Done</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <div class="single_plan d-flex align-items-center justify-content-between">
                                                                            <div class="plan_left d-flex align-items-center">
                                                                                <div class="thumb">
                                                                                    <img src="/assets/image/admin_base/icon2/1.svg" alt="">
                                                                                </div>
                                                                                <div>
                                                                                    <h5>${object.countJobOrderCancel}</h5>
                                                                                    <span>Cancel</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <div class="single_plan d-flex align-items-center justify-content-between">
                                                                            <div class="plan_left d-flex align-items-center">
                                                                                <div class="thumb">
                                                                                    <img src="/assets/image/admin_base/icon2/4.svg" alt="">
                                                                                </div>
                                                                                <div>
                                                                                    <h5>${object.countJobOrderConfirm}</h5>
                                                                                    <span>Confirm</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <div class="single_plan d-flex align-items-center justify-content-between">
                                                                            <div class="plan_left d-flex align-items-center">
                                                                                <div class="thumb">
                                                                                    <img src="/assets/image/admin_base/icon2/2.svg" alt="">
                                                                                </div>
                                                                                <div>
                                                                                     <h5>${object.countJobOrderWaiting}</h5>
                                                                                    <span>Waiting</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                    `
            $('#job__order_detail_dash').html(html)
        }

        function renderDashBoardQuantity(object) {
            let year = new Date().getFullYear()
            let html = `
                                                        <div class="col-lg-6">
                                                                <div class="single_crm">
                                                                    <div class="crm_head d-flex align-items-center justify-content-between">
                                                                        <div class="thumb">
                                                                            <img src="/assets/image/admin_base/crm/businessman.svg" alt="">
                                                                        </div>
                                                                        <i class="fas fa-ellipsis-h f_s_11 white_text"></i>
                                                                    </div>
                                                                    <div class="crm_body">
                                                                        <h4>${object.countCustomer}</h4>
                                                                        <p>Total User</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="single_crm ">
                                                                    <div class="crm_head crm_bg_1 d-flex align-items-center justify-content-between">
                                                                        <div class="thumb">
                                                                            <img src="/assets/image/admin_base/crm/customer.svg" alt="">
                                                                        </div>
                                                                        <i class="fas fa-ellipsis-h f_s_11 white_text"></i>
                                                                    </div>
                                                                    <div class="crm_body">
                                                                        <h4>${object.countStaff}</h4>
                                                                        <p>Total Staff</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="single_crm">
                                                                    <div class="crm_head crm_bg_2 d-flex align-items-center justify-content-between">
                                                                        <div class="thumb">
                                                                            <img src="/assets/image/admin_base/crm/infographic.svg" alt="">
                                                                        </div>
                                                                        <i class="fas fa-ellipsis-h f_s_11 white_text"></i>
                                                                    </div>
                                                                    <div class="crm_body">
                                                                        <h4>${object.countJobOrder}</h4>
                                                                        <p>Total Job Order</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="single_crm">
                                                                    <div class="crm_head crm_bg_3 d-flex align-items-center justify-content-between">
                                                                        <div class="thumb">
                                                                            <img src="/assets/image/admin_base/crm/sqr.svg" alt="">
                                                                        </div>
                                                                        <i class="fas fa-ellipsis-h f_s_11 white_text"></i>
                                                                    </div>
                                                                    <div class="crm_body">
                                                                        <h4>${object.totalMonth[0]}$</h4>
                                                                        <p>${year}'s Revenue</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    `

            $('#dashboard__quantity_list').html(html)
        }

        getDataWithToken(`${BASE_API}api/Admin/GetDashboard`, USERTOKEN)
            .then(response => {
                console.log(response)
                let countJobOrder = response.data.countJobOrder
                let countJobOrderCancel = response.data.countJobOrderCancel
                let countJobOrderCheckin = response.data.countJobOrderCheckin
                let countJobOrderConfirm = response.data.countJobOrderConfirm
                let countJobOrderDone = response.data.countJobOrderDone
                let countJobOrderWaiting = response.data.countJobOrderWaiting
                let countStaff = response.data.countStaff
                let totalMonth = response.data.totalMonth
                let JOdonePercent = ((countJobOrderDone / countJobOrder) * 100)
                // dashboard
                var options = { series: [JOdonePercent ? JOdonePercent.toFixed(2) : 0], chart: { height: 300, type: 'radialBar', offsetY: 0 }, plotOptions: { radialBar: { startAngle: -90, endAngle: 90, hollow: { margin: 0, size: "70%" }, dataLabels: { showOn: "always", name: { show: true, fontSize: "13px", fontWeight: "700", offsetY: -5, color: ["#000000", "#E5ECFF"], }, value: { color: ["#000000", "#E5ECFF"], fontSize: "30px", fontWeight: "700", offsetY: -40, show: true } }, track: { background: ["#E5ECFF", "#E5ECFF"], strokeWidth: '100%' } } }, colors: ["#9767FD", "#E5ECFF"], stroke: { lineCap: "round", }, labels: ["Job order done"] }; var chart = new ApexCharts(document.querySelector("#chart-currently"), options);
                chart.render();

                options = {
                    chart: { height: 339, type: "line", stacked: !1, toolbar: { show: !1 } },
                    stroke: { width: [0, 2, 4], curve: "smooth" }, plotOptions: { bar: { columnWidth: "30%" } },
                    colors: ["#9767FD"],//["#9767FD", "#dfe2e6", "#f1b44c"],
                    series: [
                        //{ name: "Success", type: "column", data: [totalMonth[1],totalMonth[2],totalMonth[3],totalMonth[4],totalMonth[5],totalMonth[6],totalMonth[7],totalMonth[8],totalMonth[9],totalMonth[10],totalMonth[11],totalMonth[12]]  },
                        { name: "Total", type: "area", data: [totalMonth[1], totalMonth[2], totalMonth[3], totalMonth[4], totalMonth[5], totalMonth[6], totalMonth[7], totalMonth[8], totalMonth[9], totalMonth[10], totalMonth[11], totalMonth[12]] },
                        //{ name: "Cancel", type: "line", data: [totalMonth[1],totalMonth[2],totalMonth[3],totalMonth[4],totalMonth[5],totalMonth[6],totalMonth[7],totalMonth[8],totalMonth[9],totalMonth[10],totalMonth[11],totalMonth[12]]  },
                    ],
                    fill: { opacity: [0.85, 0.25, 1], gradient: { inverseColors: !1, shade: "light", type: "vertical", opacityFrom: 0.85, opacityTo: 0.55, stops: [0, 100, 100, 100] } },
                    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    markers: { size: 0 }, xaxis: { type: "text" }, yaxis: { title: { text: "Revenue Of Year (USD)" } },
                    tooltip: { shared: !0, intersect: !1, y: { formatter: function(e) { return void 0 !== e ? e.toFixed(0) + " USD" : e; }, }, },
                    grid: { borderColor: "#f1f1f1" },
                }; (chart = new ApexCharts(document.querySelector("#management_bar"), options)).render();

                var options = {
                    series: [{ name: 'Net Profit', data: [30, 25, 45, 30, 55, 55] }],
                    chart: { type: 'area', height: 270, offsetY: 0, toolbar: { show: false }, zoom: { enabled: false }, sparkline: { enabled: true } },
                    plotOptions: {}, legend: { show: false }, dataLabels: { enabled: false }, fill: { type: 'solid', opacity: .2 }, stroke: {
                        curve: 'smooth', show: true, width: 3,
                        colors: ["#9767FD", "#E5ECFF"],
                    }, xaxis: {
                        categories: ['Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul'],
                        axisBorder: { show: false, }, axisTicks: { show: false }, labels: { show: false, style: { fontSize: '12px', } },
                        crosshairs: { show: false, position: 'front', stroke: { color: ["#9767FD", "#E5ECFF"], width: 1, dashArray: 3 } },
                        tooltip: { enabled: true, formatter: undefined, offsetY: 0, style: { fontSize: '12px', } }
                    }, yaxis: { min: 0, max: 60, labels: { show: false, style: { fontSize: '12px', } } }, states: { normal: { filter: { type: 'none', value: 0 } }, hover: { filter: { type: 'none', value: 0 } }, active: { allowMultipleDataPointsSelection: false, filter: { type: 'none', value: 0 } } }, tooltip: { style: { fontSize: '12px', }, y: { formatter: function(val) { return "$" + val + " thousands" } } }, colors: ["#9767FD", "#E5ECFF"], markers: {
                        colors: ["#9767FD", "#E5ECFF"], strokeColor:
                            ["#9767FD", "#E5ECFF"], strokeWidth: 3
                    }
                }; var chart = new ApexCharts(document.querySelector("#chart4"), options); chart.render();
                // dashboard

                renderJODetail(response.data)
                renderDashBoardQuantity(response.data)
                $('#total__joborder_number').text(`Total: ${countJobOrder}`)
            })
            .catch(error => {
                notify('error', 'get dashboard have some problem!!')
            })

        // render Staff JO
        function renderStaffJobOrder(arr) {
            let html = arr.map((item, index) => {
                // set color of note type
                let colorType = '#a8afbf'
                if (item.type == 1) colorType = '#ffa7a7'
                if (item.type == 2) colorType = '#95d5f1'
                if (index >= 4) return ''
                return `
                                                      <li>
                                                            <div class="activity_bell" style="background: ${colorType};"></div>
                                                            <div class="timeLine_inner d-flex align-items-center">
                                                                <div class="activity_wrap">
                                                                    <h6>${item.createBy_Name} - ${moment(item.createAt).fromNow()}</h6>
                                                                    <p class="staff__joborder_des" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                                                        ${item.description}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                       </li>
                                                `
            }).join('')
            $('#staff__note_list').html(html)
        }

        function renderStaffJOFetch() {
            getData(`${BASE_API}api/Note/All`)
                .then(response => {
                    console.log(response)
                    renderStaffJobOrder(response.data)
                })
                .catch(error => {
                    notify('error', 'get Staff Job Order have some problem!!')
                })
        }
        renderStaffJOFetch()
    </script>
}